---
layout: default
---

<div class="home">

  {% assign blog_url = "https://blog.teamtreehouse.com/" %}

  <ul class="post-list">
  <li><h2>Windows</h2>
    <ul>
      {% for guide in site.windows %}
        {% assign slug = guide.title | downcase | remove: "®" | replace: ".", "-" | replace: " ", "-" %}
        <li><a href="{{ blog_url }}{{ slug }}" target="_blank">{{ guide.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
  </ul>
  <ul class="post-list">
  <li><h2>Mac</h2>
    <ul>
      {% for guide in site.mac %}
        {% assign slug = guide.title | downcase | remove: "®" | replace: ".", "-" | replace: " ", "-" %}
        <li><a href="{{ blog_url }}{{ slug }}" target="_blank">{{ guide.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
  </ul>
  <ul class="post-list">
  <li><h2>Linux</h2>
    <ul>
      {% for guide in site.linux %}
        {% assign slug = guide.title | downcase | remove: "®" | replace: ".", "-" | replace: " ", "-" %}
        <li><a href="{{ blog_url }}{{ slug }}" target="_blank">{{ guide.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS</a></p>

</div>
