---
layout: default
---

<div class="home">

  <ul class="post-list">
  <li><h2>Windows</h2>
    <ul>
      {% for guide in site.windows %}
        <li><a href="{{ guide.url }}">{{ guide.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
  </ul>
  <ul class="post-list">
  <li><h2>Mac</h2>
    <ul>
      {% for guide in site.mac %}
        <li><a href="{{ guide.url }}">{{ guide.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
  </ul>
  <ul class="post-list">
  <li><h2>Linux</h2>
    <ul>
      {% for guide in site.linux %}
        <li><a href="{{ guide.url }}">{{ guide.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
